footer.footer
    content.has-text-centered
        p(style="font-weight: 200; font-size: 25")
            | #[strong(style="font-weight: 600") Ender Bot] is made by 
            | #[img(src="https://discordbots.org/api/widget/owner/371685425351229441.svg")]
            | #[br]
            | All rights reserved. © 2019
            | #[br]
            | #[img(src="https://bulma.io/images/made-with-bulma--black.png" width="200")]