html
    link(rel='stylesheet', href='https://api.ender.site/_/bulma.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
    script(src="https://bot.ender.site/profile-cdn/Vibrant.min.js")
    head
        title= title
    body
        br
        br
        br
        br
        .hero.is-primary#dashboard-head(style=`margin-top:-96px;background-color:#3498db`)
            .container
                .hero-body
                    br
                    br
                    i.fa.fa-cogs(aria-hidden='true') 
                    h1.title Dashboard
        section
        .container(style='padding-top: 20px; padding-bottom: 20px;')
            .notification.is-success
                strong Welcome #[span= user.name] to the dashboard.
                br
                | Select the server you wish to change server settings on. If the server you are looking for does not appear, you don't have <strong>Manage Server</strong> permissions.
            .field(style='margin: auto; max-width: 600px; padding-bottom: 20px;')
                label.label
                    b Select a server...
                div.control.has-icons-left
                    .select.is-rounded.is-fullwidth#select-div
                        select#server-select
                            option(value='', selected='') Select server
                    span.icon.is-left#ss-icon
                        i.fas.fa-arrow-right
                    p.help#invite-help(style="display: none;")
                        | Ender is not in this server! Please invite it <a id="invite-btn">here</a>. Come back to this page after you invited the bot.
                
                .control(style="width: 100%;padding: 10px 10px;margin-left: 30%;")
                    button.button.is-info#select-server(style="width: 30%") #[i.fa.fa-arrow-alt-circle-right]&nbsp;Select this server

        include footer
