html
    link(rel='stylesheet', href='https://api.ender.site/_/bulma.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
    script(src="https://bot.ender.site/profile-cdn/Vibrant.min.js")
    head
        title= title
    body
        br
        br
        br
        section.hero.is-danger.is-bold.has-text-centered(style=`margin-top:-72px;background-color:#3498db`)
            .hero-body
                .container
                    br
                    br
                    h1.title.is-1
                        | 404
                    h2.subtitle
                        | We couldn't find that server.
        include ../footer
